.sideMenu {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #c5baba;
    font-size: 20px;
  }
  
  .menu-item {
    display: block;
    margin: 16px 0;
    color: #835050;
    text-decoration: none;
    margin-left: 18px;
    font-size: 19px;
  }
  
  .menu-item:hover {
    color: white;
  }
  
  .content {
    margin-left: 220px; /* Adjust based on the width of your side menu */
    padding: 20px;
  }